/*
 Theme Name: 	Verts VD
 Theme URI:   http://new.balthasar-glaettli.ch/
 GitHub Theme URI: https://github.com/politbuero-kampagnen/gruene-ch
 Description: Child Theme von Forefront im Erscheinungsbild der Grunen Schweiz !
 Template: 	Forefront
 Author: 	Balthasar Glaettli 
 Author URI:  http://www.politbuero-kampagnen.ch
 Version: 	v1.0.7
 Updated: 	2015-05-01 17:30:49
 License:     GNU General Public License v2 or later
 License URI: http://www.gnu.org/licenses/gpl-2.0.html
 Tags:        green, two-columns, responsive-layout, custom-menu, featured-images, full-width-template, theme-options
*/

@charset "UTF-8";





/** vom individuellen CSS Konfigurator uebernommen **/

body {
	font-family: Arial, Helvetica, sans-serif;
	background: #84B414 -moz-radial-gradient(center,ellipse cover,rgba(0,0,0,.25) 0,rgba(0,0,0,0) 100%);
	background: #84B414 -webkit-gradient(radial,487px -262px,0px,487px -262px,929px,color-stop(0%,rgba(0,0,0,.25)),color-stop(100%,rgba(0,0,0,0)));
	background: #84B414 -webkit-radial-gradient(487px -262px,929px 929px,rgba(0,0,0,.25) 0,rgba(0,0,0,0) 100%);
	background: #84B414 -o-radial-gradient(center,ellipse cover,rgba(0,0,0,.25) 0,rgba(0,0,0,0) 100%);
	background: #84B414 -ms-radial-gradient(center,ellipse cover,rgba(0,0,0,.25) 0,rgba(0,0,0,0) 100%);
	background: #84B414 radial-gradient(circle 929px at 487px -262px,rgba(0,0,0,.25) 0,rgba(0,0,0,0) 100%);
	background-repeat: no-repeat;
	overflow-x: hidden;
}

.site, site-header, header #masthead.site-header {
	background-color: transparent;
}

#masthead.site-header {
	position: relative;
}

/** widget Acton = Faire un don | devenir membre  **/
.action-div{
	width: 95%;
	margin: auto;
	background-color: #F7F9F7;
	padding: 20px 20px 36px 20px;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

#action-weasy-opt-in-widget-2{    /** block Newsletter  **/
	width: 50%;
	float: left;
	  position: relative;
  top: -11px;
  
}

h3.fca_eoi_layout_0_headline_copy_wrapper { /** Titre Newsletter  **/
  font-size: 12px;
  text-transform: uppercase;
  float: left;
    line-height: 38px;
  margin-right: 10px;
}
.fca_eoi_layout_0_email_field_wrapper{   /** Field email  Newsletter **/
 
  width: 260px!important;
  float: left;
}
.fca_eoi_form_button_element{  /** bouton GO!  **/
	
	width: 50px!important;
  float: left;
}


.action-link{float: left; margin-right: 20px;} /** text faire un don ect  **/
.action-wtext-2 a{color:#272626!important}      /** couleur lien text faire un don  **/
.action-wtext-2 a:hover{color:#84B414!important}      /** couleur hover lien text faire un don  **/
.action-wtext-2{  position: relative;                /** reglage pour l'oeil  **/
  top: -2px;}

.don-ico{                    /** Icon don  **/
  float: left;
  display: block;
  width: 35px;
  height: 35px;
  background: url(img/don-ico.svg);
  background-size: 35px 35px;
  position: relative;
  top:-7px;
  margin-right: 5px;
}
.membre-ico{         /** Icon membre **/
  float: left;
  display: block;
  width: 35px;
  height: 35px;
  background: url(img/membre-ico.svg);
  background-size: 35px 35px;
  position: relative;
  top:-7px;
  margin-right: 5px;
}
.contact-ico{           /** Icon contact **/
  float: left;
  display: block;
  width: 35px;
  height: 35px;
  background: url(img/contact-ico.svg);
  background-size: 35px 35px;
  position: relative;
  top:-7px;
  margin-right: 5px;
}
/* Ajustement widget home pour affichage des derrnier postes*/
#main .optional-widget-area{
	clear: none;
	width: 65%;
}








.site-main {
	float: none;
	margin: 0 0 10px;
	width: auto;
	background-color: #fff;
	overflow: hidden;
	-webkit-box-shadow: 0 0 10px 0 rgba(94,94,94,0.75);
	box-shadow: 0 0 10px 0 rgba(94,94,94,0.75);
	-webkit-border-radius: 1.2em;
	border-radius: 1.2em;
}

.hero {
	padding: 1.2em;
}

.hero > figure > img, .hero > img, .attachment-forefront-blog-thumbnail, .attachment-forefront-page-thumbnail, .attachment-forefront-grid-thumbnail {
	/*border-radius: 1.2em;*/
	margin: 0;
}

img.attachment-forefront-page-thumbnail {
/* border: 1.2em; */
}

/* Hintere Seiten ohne Titel-Bildli schmaler gr체ner Streifen unter Titel */

.hero.without-featured-image {
  /*border-bottom: 5px solid #718F2A;*/
}

/* Schr채ge Balken */
.slogan {
	-ms-transform: rotate(-5deg);
/* IE 9 */
	-webkit-transform: rotate(-5deg);
/* Chrome, Safari, Opera */
	transform: rotate(-5deg);
}

span.leerzeichen::before {
	content: "\00A0\00A0\00A0";
	color: green;
}

.widget-title, .sidebar-widget-area .widgettitle, .sidebar-widget-area .widget-title {
	padding: .1em;
	color: #84B414;
	/*background-color: #84B414;*/
	display: inline-block;
}

/* Zitate neu formatieren */
.type-jetpack-testimonial .entry-content p {
	font-size: 18px;
	color: white;
	font-style: normal;
	font-weight: bold;
}

.type-jetpack-testimonial {
	background-color: #84B414;
	border-radius: 1.2em;
	position: relative;
}

.attachment-forefront-testimonial-thumbnail {
	border-radius: .6em;
}

/*       MENU reposition */
@media screen and (min-width: 930px) {
	#site-navigation {
		position: absolute;
		right: 20px;
		bottom: 0px;
	}
}

/*      SUB MENU    TODO: FIX MENU STRUCTURE    */
#nav-global-box > ul > li > a,
#nav-global-box > ul > li > strong {
	text-transform: uppercase;
	font-weight: bold;
	color: rgb(132,180,20,1);
	background-color: white;
	padding: 4px;
	display: block;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
/* neuer schatten unten m체sste noch hinzugef체gt werden...*/
}

#nav-global-box > ul > li > a:hover,
#nav-global-box > ul > li > strong,
#nav-global-box > ul > li.on > a,
#nav-global-box > ul > li.current-menu-item > a,
#nav-global-box > ul > li.trail > a{
	background-color: rgb(226,0,122);
	padding: 4px;
	color: white;
}

#nav-global-box > ul > li > div {
	top: 32px;
	left: 0;
	padding: 16px;
	background-color: rgba(255,255,255,0.9);
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	border-top: 2px solid rgb(226,0,122);
	max-height: 0;
	overflow: hidden;
	position: absolute;
	height: 0;
	-webkit-transition: max-height .8s;
	-moz-transition: max-height .8s;
	transition: max-height .8s;
	display: none;
}

#nav-global-box > ul > li > div.submenu-visible {
	display: block;
	z-index: 111;
	max-height: 700px;
	height: auto;
	width: 96.8%;
	margin-bottom: 12px;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

#nav-global-box > ul > li > div.submenu-visible ul {
	text-align: left;
}

#nav-global-box > ul > li > div > ul > li {
	text-align: left;
	width: 24%;
	border-right: 1px solid #85ad62;
	border-radius: 0;
	margin-bottom: 10px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	float: none;
}

#nav-global-box > ul > li > div > ul > li:nth-child(4n), 
#nav-global-box > ul > li > div > ul > li:last-child {
	border-right: none;
}

#nav-global-box > ul > li > div > ul > li:nth-child(n+5) {
	margin-bottom: 0;
}

#nav-global-box .sub-nav-box a,
#nav-global-box .sub-nav-box strong {
	display: block;
	font-weight: bold;
	line-height: 16px;
	padding: 6px 3px;
}

#nav-global-box .sub-nav-box a:hover,
#nav-global-box .sub-nav-box strong,
#nav-global-box .sub-nav-box li.on > a,
#nav-global-box .sub-nav-box li.trail > a {
	text-decoration: underline;
}

#nav-global-box > ul > li > div > ul > li > a,
#nav-global-box > ul > li > div > ul > li > strong {
	font-size: 15px;
	font-weight: bold;
}

#nav-global-box > ul > li > div > ul > li ul li {
	display: block;
	text-align: left;
}

#nav-global-box > ul > li > div.sub-nav-box > ul > li li a,
#nav-global-box > ul > li > div.sub-nav-box > ul > li li strong {
	font-weight: normal;
	font-size: 13px;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  background-color: #E2007A;
  }
/**** FONTS  ****/

			@font-face {
				font-family: 'SanukOT-Regular';
				font-style: normal;
				src: url('./fonts/150428043825SanukOT-Regular.eot');
				src: local('SanukOT-Regular'), url('./fonts/150428043825SanukOT-Regular.eot') format('embedded-opentype'), url('./fonts/150428043825SanukOT-Regular.woff') format('woff');
			}
					@font-face {
				font-family: 'SanukOT-Bold';
				font-style: normal;
				src: url('./fonts/150428043903SanukOT-Bold.eot');
				src: local('SanukOT-Bold'), url('./fonts/150428043903SanukOT-Bold.eot') format('embedded-opentype'), url('./fonts/150428043903SanukOT-Bold.woff') format('woff');
			}
						body, p, blockquote, li, a{
					font-family: 'SanukOT-Regular' !important;
				}

						h1, h2, h3, h4, h5, h6, h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a, li.menu-item > a, strong, b, .strong{
					font-family: 'SanukOT-Bold' !important;
				}
				
				
/**** SOCIAL MEDIA ****/

#socialmedia{
	position: fixed;
	right: 0px;
	top: 333px;
	padding: 12px 12px 0;
	
	border-radius: 4px 0 0 4px;
	background-color: #fff;
	width: 50px;
}

.sfsi_wicons {
	display: block;
}

/**** FOOTER ****/
.footer-widget-area{
	background-color: #305F05;
	border: none;
	border-radius: 20px 20px 0 0px;
	padding: 30px 0 0 0;

}

.site-footer{
	background-color: #305F05;
	padding-top: 0px;
}